.main-index {
    background-image: url('../img/Banners/planeta.png');
    background-size: cover;

}
.letras{
    color: rgb(216, 231, 6);
}

h1 {
    color: beige;
}

.main-index p {
    color: beige;
}

.back {
    background-color: black;


}
.fondo {
    background-color: black;
}

.tarjetas {
    background-image: url('../img/Banners/wp6763106.webp');
}

.nav-link{
    color: yellow;
}

.busqueda{
    background-color: black;
}

.cuidado{
    background-color: rgb(255, 0, 0);
}

.nosotros{
    background-color: black;
   color: rgb(71, 71, 252);
}

.creditos{
    color: rgb(0, 153, 153);
    

}

.US{
    background-image: url('../img/Banners/planeta.png');
    background-size: cover;
    color: rgb(226, 211, 2);
}

